- var version = '?ver=8'
meta(charset="utf-8")
meta(name='viewport', content='width=590, user-scalable=no')
block title
link(rel='stylesheet', type='text/css', href='/build/libs/css/fonts.css' + version)
link(rel='stylesheet', type='text/css', href='/build/css/style.css' + version)
block content_style
	- var version = '?ver=8'
block content_scripts
	- var version = '?ver=8'