html
	margin 0
	body
		margin 10px 20px
		input
			font-size 15px
			background #ccc
			padding 2px
			border 1px solid #000
.promo
	margin-bottom 15px
	a
		display inline-block
.promo_img
	img
		width 100px