.main_block
	height 100%
	.add_photo
		justify-content center
		border none
	.save
		right 0
		left 0
		bottom 0
		height 60px
		background #fff
		position fixed
		margin-bottom 0
		z-index 100
	.save a.add
		font-family icons
		font-size 40px
		text-decoration none
		position fixed
		bottom 21px
		left 50%
		margin-left -20px
.content_block
	height 100%
.promo_block
	height 100%
	display flex
	justify-content center
	align-items center
.promo_block_inner
	overflow hidden