.element {
  animation: pulse 5s infinite;
}

@keyframes color
	0%
		color #000
	60%
		color #000
	63%
		color #fff
	97%
		color #fff
	100%
		color #000

html
	display block
	body
		display block
		font-size 8px
	.add_photo
		justify-content center
		border none
	.save
		right 0
		left 0
		bottom 0
		height 60px
		background #fff
		position fixed
		margin-bottom 0
		z-index 100
	.save a.add
		font-family icons
		font-size 40px
		text-decoration none
		position fixed
		bottom 21px
		left 50%
		margin-left -20px
.content_block
	height 100%
	display flex
	flex-flow row wrap
	flex-flow row wrap
	justify-content center
	margin 0 20px 90px
	.promo_block_uploader
		.promo_block_inner
			.photo_uploader
				animation color 3s infinite
	@media (max-width:768px)
		margin 0 0px 90px
.promo_block
	margin 80px 45px 0
	@media (max-width:768px)
		margin 50px 20px 0
	&.promo_block_h
		width 254px
		height 0
		margin-top 0
.promo_block_inner
	overflow hidden
	background-size contain
	background-color #fff
	.photo_container
		width 252px
		height 364.5px
		overflow hidden