@keyframes not_valid_after
	0%
		background #fff
		color #f00
	70%
		background #9c0202
		color #fff
	100%
		background transparent
		color transparent

@keyframes not_valid_border
	0%
		border-color #f00
		color #f00
	70%
		border-color #9c0202
		color #9c0202
	100%
		border-color #000
		color #000

@keyframes not_valid_line
	0%
		stroke #f00
	70%
		stroke #9c0202
	100%
		stroke #000

html, body
	margin 0
	padding 0
	font-family 'Formular', Arial, sans
	height 100%
	width 100%
	user-select none

input
	outline none

a
	text-decoration none
	color #000
	display block

line
	stroke-width 2

svg
	position absolute

.photo_container
	max-width 506px
	max-height 729px
	border 2px solid #000
	position relative
	transform-origin 0 0
	width 55.52812072vh
	height 80vh
	svg
		width 100%
		height 100%
		top 0
		left 0
	&.not_valid_file
		animation not_valid_border 0.9s ease-in-out
		animation-fill-mode forwards
		animation-iteration-count 1
		&:after
			content 'Неправильный формат файла'
			display flex
			position absolute
			animation not_valid_after 0.9s ease-in-out
			animation-fill-mode forwards
			animation-iteration-count 1
			top 22.3%
			left 22.3%
			right 22.3%
			bottom 22.3%
			z-index 10
			align-items center
			justify-content center
			text-align center
			font-size 2.2em
		line
			animation not_valid_line 0.9s ease-in-out
			animation-fill-mode forwards
			animation-iteration-count 1

.photo_uploader
	position absolute
	top 22.3%
	left 22.3%
	right 22.3%
	bottom 22.3%
	display flex
	align-items center
	justify-content center
	font-size 4.4em
	text-align center
	line-height 1.03em
	background-size cover
	background-position 50%
	background-color #fff
	overflow hidden
	img
		position absolute
		top 0
		left 0
		opacity 0
		transition 0.2s ease opacity
	&.horizontal_loaded
		img
			height 100%
			width auto
			opacity 1
	&.vertical_loaded
		img
			width 100%
			height auto
			opacity 1

.vertical_texts
	width 100%
	height 76%

.top_text
	height 12%
	overflow hidden
	& > div
		margin-top 4%

.text
	text-align center
	font-size 1.2em
	letter-spacing 0.02em

.v_text
	height 100%
	text-align center
	position relative
	height 100%

.bottom_text
	height 8%
	line-height 2.9em
	position relative
	z-index 10
	width 76%
	margin 0% auto
	outline none
	overflow hidden
	white-space nowrap
	outline none
	border none
	background none
	display block
	font-family 'Formular', Arial, sans
	user-select text
	padding 0
	border-bottom 1px solid transparent
	&:focus
		height 4%
		margin 2.9% auto
		line-height 4%
		background #ececec
		border-bottom-color #000

.small_text
	font-size 0.65em

.hash_text
	height 4%
	text-align center

.left_text
	float left
	margin-left 3.8%
	position relative
	height 100%
	& > div
		transform rotate(270deg)
		transform-origin 50% 0%
		position absolute
		top 70%
		white-space nowrap
		width 100%

.right_text
	float right
	margin-right 3.8%
	position relative
	& > div
		transform rotate(90deg)
		transform-origin 50% 0%
		position absolute
		top 40%
		white-space nowrap
		width 100%