html, body
    display flex
    align-items center
    justify-content center
    flex-direction column

.inputfile
	width 0.1px
	height 0.1px
	opacity 0
	overflow hidden
	position absolute
	z-index -1