extends ../layout

block title
	title #contemporaryart

	meta(name='keywords', content='НОВОЕ ПРОСТРАНСТВО, NEWSPACEMOSCOW, СОВРЕМЕННОЕ ИСКУССТВО, CONTEMPORARY ART')
	meta(itemprop='name', content='#contemporaryart')
	meta(itemprop='description', content="Что такое современное искусство? Расскажи нам, что ты думаешь, и ты увидишь свою авторскую открытку в #newspacemoscow.")
	meta(name='twitter:card', content='summary')
	meta(name='twitter:site', content='http://newspace.moscow/' + promo[0].path.share)
	meta(name='twitter:title', content='#contemporaryart')
	meta(name='twitter:description', content="Что такое современное искусство? Расскажи нам, что ты думаешь, и ты увидишь свою авторскую открытку в #newspacemoscow.")
	meta(property='og:url', content='http://newspace.moscow/')
	meta(property='og:type', content='website')
	meta(property='og:title', content='#contemporaryart')
	meta(property='og:description', content="Что такое современное искусство? Расскажи нам, что ты думаешь, и ты увидишь свою авторскую открытку в #newspacemoscow.")
	meta(property='og:image', content='http://newspace.moscow/' + promo[0].path.share)
	meta(property='og:image:type', content='image/jpeg')
	meta(property='og:image:width' content='320')
	meta(property='og:image:height', content='459')
	meta(name='description', content="Что такое современное искусство? Расскажи нам, что ты думаешь, и ты увидишь свою авторскую открытку в #newspacemoscow.")
	meta(name='twitter:image', content='http://newspace.moscow/' + promo[0].path.share)
	meta(itemprop='image', content='http://newspace.moscow/' + promo[0].path.share)

block content_style
	- var version = '?ver=8'
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/promo.css' + version)

block content

	.content_block
		.promo_block.promo_block_uploader
			.promo_block_inner
				.photo_container
					svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='253', height='364.5', 		viewbox='0 0 253 364.5', enable-background='new 0 0 253,65 364.1', xml:space='		preserve')
						g
							line(fill='none', stroke='#000000', x1='0', y1='0', x2='253', y2='364.5')
							line(fill='none', stroke='#000000', x1='253', y1='0', x2='0', y2='364.5')
					.photo_uploader
							a.rus(href='/add#rus')
								| МЕСТО
								br
								| ДЛЯ
								br
								| ФОТО
							a.eng(href='/add#eng')
								| PUT
								br
								| YOUR
								br
								| PHOTO
								br
								| HERE
					.text.top_text
						- if (promo.lang === 'rus')
								.rus
									| СОВРЕМЕННОЕ ИСКУССТВО
									br
									|	ЭТО...
						- else
								.eng CONTEMPORARY ART IS...
					.vertical_texts
						.v_text.small_text.left_text
							div НОВОЕ ПРОСТРАНСТВО ТЕАТРА НАЦИЙ
						.v_text.small_text.right_text
							div NEWSPACEMOSCOW.RU
					.text.bottom_text.text_input
						- if (promo.lang === 'rus')
							| МЕСТО ДЛЯ ТЕКСТА
						- else
							| PUT YOUR TEXT HERE
					.hash_text.small_text #NEWSPACEMOSCOW
		each item in promo
			.promo_block
				.promo_block_inner
					a.photo_container(href='/i/' + item._id)
						svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='253', height='364.5', 		viewbox='0 0 253 364.5', enable-background='new 0 0 253,65 364.1', xml:space='		preserve')
							g
								line(fill='none', stroke='#000000', x1='0', y1='0', x2='253', y2='364.5')
								line(fill='none', stroke='#000000', x1='253', y1='0', x2='0', y2='364.5')
						.photo_uploader(style='background-image:url('+ item.path.original +')')
						.text.top_text
							- if (item.lang === 'rus')
									.rus
										| СОВРЕМЕННОЕ ИСКУССТВО
										br
										| ЭТО...
							- else
									.eng CONTEMPORARY ART IS...
						.vertical_texts
							.v_text.small_text.left_text
								div НОВОЕ ПРОСТРАНСТВО ТЕАТРА НАЦИЙ
							.v_text.small_text.right_text
								div NEWSPACEMOSCOW.RU
						.text.bottom_text.text_input= item.title
						.hash_text.small_text #NEWSPACEMOSCOW
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
		.promo_block.promo_block_h
	.scroll_check
	script(type='text/javascript', src='/build/js/main.js')