extends ../layout

block title
	title #NEWSPACEMOSCOW

block content_style
//block content
	.content_block
		each item in promo
			.content_item
				a.item_link(href='/i/' + item._id)
					.photo_container
						svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://		www.w3.org/1999/xlink', x='0px', y='0px', width='506', height='729', 		viewbox='0 0 506 729', enable-background='new 0 0 507.3 728.2', xml:space='		preserve')
							g
								line(fill='none', stroke='#000000', x1='0', y1='0', x2='506', y2='729')
								line(fill='none', stroke='#000000', x1='506', y1='0', x2='0', y2='729')
						.photo_uploader(style='background-image:url(' + item.path.share +')')
						.text.top_text
							- if (item.lang === 'rus')
									.rus
										| СОВРЕМЕННОЕ ИСКУССТВО
										br
										|	ЭТО...
							- else
									.eng CONTEMPORARY ART IS...
						.vertical_texts
							.v_text.small_text.left_text
								div НОВОЕ ПРОСТРАНСТВО ТЕАТРА НАЦИЙ
							.v_text.small_text.right_text
								div NEWSPACEMOSCOW.RU
						.text.bottom_text.text_input= item.title
						.hash_text.small_text #NEWSPACEMOSCOW
