extends ../layout

block title
	title #contemporaryart

	meta(name='keywords', content='НОВОЕ ПРОСТРАНСТВО, NEWSPACEMOSCOW, СОВРЕМЕННОЕ ИСКУССТВО, CONTEMPORARY ART')
	meta(itemprop='name', content='#contemporaryart')
	meta(itemprop='description', content="Что такое современное искусство? Расскажи нам, что ты думаешь, и ты увидишь свою авторскую открытку в #newspacemoscow.")
	meta(name='twitter:card', content='summary')
	meta(name='twitter:site', content='http://newspace.moscow/' + promo.path.share)
	meta(name='twitter:title', content='#contemporaryart')
	meta(name='twitter:description', content="Что такое современное искусство? Расскажи нам, что ты думаешь, и ты увидишь свою авторскую открытку в #newspacemoscow.")
	meta(property='og:url', content='http://newspace.moscow/i/' + promo._id)
	meta(property='og:type', content='website')
	meta(property='og:title', content='#contemporaryart')
	meta(property='og:description', content="Что такое современное искусство? Расскажи нам, что ты думаешь, и ты увидишь свою авторскую открытку в #newspacemoscow.")
	meta(name='description', content="Что такое современное искусство? Расскажи нам, что ты думаешь, и ты увидишь свою авторскую открытку в #newspacemoscow.")
	meta(property='og:image', content='http://newspace.moscow/' + promo.path.share)
	meta(property='og:image:type', content='image/jpeg')
	meta(property='og:image:width' content='320')
	meta(property='og:image:height', content='459')

	meta(name='twitter:image', content='http://newspace.moscow/' + promo.path.share)

block content_style
	- var version = '?ver=8'
	link(rel='stylesheet', type='text/css', href='/build/css/promo.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/resp.css' + version)
block content_scripts
	script= 'var timestamp=' + promo.timestamp +';'
	script(type='text/javascript', src='/build/js/promo.js')
block content
	.photo_container
		svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://		www.w3.org/1999/xlink', x='0px', y='0px', width='506', height='729', 		viewbox='0 0 506 729', enable-background='new 0 0 507.3 728.2', xml:space='		preserve')
			g
				line(fill='none', stroke='#000000', x1='0', y1='0', x2='506', y2='729')
				line(fill='none', stroke='#000000', x1='506', y1='0', x2='0', y2='729')
		.photo_uploader(style='background-image:url('+ promo.path.original +')')
		.text.top_text
			- if (promo.lang === 'rus')
					.rus
						| СОВРЕМЕННОЕ ИСКУССТВО
						br
						|	ЭТО...
			- else
					.eng CONTEMPORARY ART IS...
		.vertical_texts
			.v_text.small_text.left_text
				div НОВОЕ ПРОСТРАНСТВО ТЕАТРА НАЦИЙ
			.v_text.small_text.right_text
				div NEWSPACEMOSCOW.RU
		.text.bottom_text.text_input= promo.title
		.hash_text.small_text #NEWSPACEMOSCOW
	.save
		a.s_text(href="/")
			- if (promo.lang === 'rus')
					span.rus < Галерея
			- else
					span.eng < Gallery
		a.edit(href='/edit/'+ promo._id)
			- if (promo.lang === 'rus')
					span.rus Изменить
			- else
					span.eng Edit
		a.share(href='#share')
			span
	#share.share_block
		script(src='//yastatic.net/es5-shims/0.0.2/es5-shims.min.js')
		script(src='//yastatic.net/share2/share.js')
		a.share_close(href="#")
		.share_inner
			.share_title
				- if (promo.lang === 'rus')
						.rus ПОДЕЛИТЬСЯ...
				- else
						.eng SHARE...
			.ya-share2(data-services='vkontakte,facebook,telegram')