extends ../../layout

block title
	title #NEWSPACEMOSCOW

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/upload.css')
block content
	form(action='/'+ (!promo ? 'add' : 'edit'), method='post')
		.photo_container
			svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='506', height='729', 		viewbox='0 0 506 729', enable-background='new 0 0 507.3 728.2', xml:space='		preserve')
				g
					line(fill='none', stroke='#000000', x1='0', y1='0', x2='506', y2='729')
					line(fill='none', stroke='#000000', x1='506', y1='0', x2='0', y2='729')
			#drop_zone.photo_uploader
				input.inputfile#file(name="file", type="file")
				label#labelForFile(for="file")
					span.rus
						| МЕСТО
						br
						| ДЛЯ
						br
						| ФОТО
					span.eng
						| PUT
						br
						| YOUR
						br
						| PHOTO
						br
						| HERE
			.text.top_text
				.rus
					| СОВРЕМЕННОЕ ИСКУССТВО
					br
					| ЭТО...
				.eng CONTEMPORARY ART IS...
			.vertical_texts
				.v_text.small_text.left_text
					div НОВОЕ ПРОСТРАНСТВО ТЕАТРА НАЦИЙ
				.v_text.small_text.right_text
					div NEWSPACEMOSCOW.RU
			input.text.bottom_text.text_input(name='title', value='PUT YOUR TEXT HERE')
			.hash_text.small_text #NEWSPACEMOSCOW
			input(name='lang', id='lang', type='hidden', value='rus')
			input(name='imageContent', id='imageContent', type='hidden')

		input.save(type='submit', value='СОХРАНИТЬ')

	script(type='text/javascript', src='/build/js/scripts.js')
	script(type='text/javascript', src='/build/js/upload_script.js')


