extends ../../layout

block title
	title Промо

block content_style

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title Промо
	br
	a.add(href='/auth/promo/add') добавить промо
	br
	br
	.main_menu_block
		each item in promo
			.promo
				a.rm_item.rm_promo(href='#', id=item._id)= 'удалить '
				!=' | '
				a(href='/auth/promo/edit/' + item._id)= item.title + ' //  item'