extends ../../layout

block title
	title #contemporaryart

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title Промо
	br
	a.add(href='/auth/promo/add') добавить промо
	br
	.main_menu_block
		each item in promo
			.promo_img
				a(href='/auth/promo/edit/' + item._id)
					img(src='../'+item.path.share)
			.promo
				a(href='/auth/promo/edit/' + item._id)= item.title + ''
				!=' | '
				a.rm_item.rm_promo(href='#', id=item._id)= 'удалить '